:root {
    --white:      #FFFFFF;
    --black:      #000000;
    --gray:       #707171;
    --mid-gray:   #808080;
    --light-gray: #f2f1f4;
    --blue:       #006de1;

    --primary-color: var(--blue);
    --font-color: var(--black);
    --bg-color: var(--white);
}