@import 'colors';
@import 'layout';
@import 'typography';
@import 'generic';


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-din), Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
}

main {
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
}